@model IEnumerable<Device>

@{
    ViewData["Title"] = "Device";
}

<h2>Devices</h2>

<div class="device-controls">
    <a class="btn btn-primary" href="/device/create">Add a device</a>
</div>

@if (@Model.Count() == 0)
{
    @:There are no devices in the database. <a href="/device/add">Add one</a>
}
else
{
    <table class="table">
        <thead>
            <tr>
                <th>@Html.DisplayNameFor(model => model.Name)</th>
                <th>@Html.DisplayNameFor(model => model.MacAddress)</th>
                <th>@Html.DisplayNameFor(model => model.Description)</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            @foreach(var device in Model)
            {
                <tr>
                    <td>@Html.DisplayFor(model => device.Name)</td>
                    <td>@Html.DisplayFor(model => device.MacAddress)</td>
                    <td>@Html.DisplayFor(model => device.Description)</td>
                    <td>
                        <a asp-action="edit" asp-route-id="@device.Id">Edit</a> | 
                        <a asp-action="delete" asp-route-id="@device.Id">Delete</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
}